<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-package icon' ></i>
        <div class="logo_name"></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
        <div id="nav-list">I</div>

                

        <li class="profile">
            <a  href="/perfil">
                <div class="profile-details">
                <img src="img/profile.jpg" alt="profileImg">
                <div class="name_job">
                    <div class="name">{{user.usuario}}</div>
                    <!--<div class="job">Web designer</div>-->
                </div>
                </div>
            </a>
            <a href="/Cerrar">
                <i class='bx bx-log-out' id="log_out" ></i>
                <span class="link_out" id="log_out"></span>
            </a>
        </li>
    </ul>

</div>