<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link" href="/usuarios">USUARIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">ROLES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/privilegios">PRIVILEGIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recintos">RECINTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mp">MATERIA PRIMA</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

        <div class="row pt-4 mt-4">
            <div class="col-md-8 mx-auto">

                <a href="/roles" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back'></i>
                    Regresar
                    </a>

                <div class="card mt-2">
                    <div class="card-header text-center">
                        NUEVO ROL
                    </div>
                    <div class="card-body">
                        <form action="/roles/addRoles" method="POST">
                            <div class="form-group">
                                <label>Nombre del rol: </label>
                                <input type="text" class="form-control" name="NomRol" placeholder="Nombre del Rol...." autofocus>
                            </div>
                            <div class="form-group">
                                <label>Descripción del Rol: </label>
                                <textarea name="DescRol" rows="2" class="form-control" placeholder="Descripcion...."></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>